/* Text */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
p {
  font-family: 'Poppins', sans-serif;
}

/* Jumbotron  */
.jumbotron_custom {
  background-image: url(../images/thunderstorm2_1200.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: left;
  justify-content: left;
}

/* Jumbotron copy */
.jumboCopy {
  color: white;
}

 /* bottom footer */
 .footerleft {
  position: absolute;
  text-align: left;
  float: left;
  background-color: #1C6E8C;
  color: #f2f2f2;
  padding: 20px;
  width: 50%;
}
.footerright {
  text-align: right;
  float: right;
  background-color: #1C6E8C;
  color: #f2f2f2;
  padding: 20px;
  width: 50%;
}