/* Text */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
p {
  font-family: 'Poppins', sans-serif;
}

/* Jumbotron  */
.jumbotron {
  background-image: url(../images/thunderstorm2_1200.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: left;
  justify-content: left;
}

/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  font-weight: bolder;
  color: white;
  text-align: left;
}